*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 120%;
}

.container{
    width:80%;
}

body{

    background-color:yellowgreen;
    color: aqua;
}



header{
    border: 5px dotted white;
   
}
.number{
    font-size: 10rem;
    text-align: center;
    padding: 3rem;
    width:8rem;
    border:6px solid white;
    margin: 1rem auto;
}

.guess{
    width:3rem;
    display: block;
    margin:2rem auto;
    font-size: 7rem;

}

.match{
    border:none;
    font-size: 1em;
    padding:1rem;
    margin:2rem auto;
    display:block;
    cursor:pointer;
    border-radius: 8px;

}
.match:hover{
    color:aliceblue;
    background-color: black;
}

.message{
    margin: 1rem auto;
    display:block;
    align-items: center;

}
.msg-score{
    margin: 1rem auto;
    
}